@import url(base.css);

.__container a {
    text-decoration: none;
}

.__container a:hover {
    text-decoration: underline;
}

.__container p {
    margin-bottom: 0px;
}

.__container h2 {
    margin-bottom: 20px;
    color: #686868;
    font-size: 13px;
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
}

.__container .form-label {
    margin-bottom: 5px;
}


.__label-comum {
    color: var(--cinza-letra);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: start;
}

.__input {
    margin-top: 5px;
}

.__el-comum {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    color: #212529;
    text-align: start;
}

.__container .invalid-feedback {
    margin: 0px;
    font-size: 12px;
}

input[type="checkbox"i] {
    color: #d9d9d9;
    width: 14px;
    height: 14px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgb(245 245 245 / 25%);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin: 14px 0px 18px 0px;
    box-sizing: border-box;
}


.__input-comum {
    max-width: 140px;
    height: auto;

}

.__input-comum-esp {
    max-width: 93px;
    height: 30px;
    margin-top: 5px;
}

.__grupo {
    margin-top: 40px;
}

.__grupo:nth-child(2) {
    margin-top: 0px;
}

.__grupo:nth-child(1) {
    margin-bottom: 40px;
    margin-top: 0px;
}

fieldset .form-control,
td .__input {
    border-color: #ccc;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    height: 30px;
    padding: 5px 4px;
}

fieldset .form-control::placeholder {
    color: #B6BABE;
}

.__input-grupo .form-control::placeholder {
    color: #B6BABE;
}

.__container .btn {
    border-radius: 3px;
    font-weight: 700;
}


.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #198754;
    padding-right: inherit;
    background-image: none;
}

@media screen and (max-width: 480px) {
    
    input[type="checkbox"i] {
        margin: 2px 0px 18px 0px;
    }

    
    .__container input[type="text"i] {
        font-weight: 500;
        padding: 5px, 4px, 5px, 4px;
    }


    


}