@import url(base.css);

body main {
    font-family: museo;
}

.__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite-fundo);

}

.__container {
    min-height: calc(100vmin - 150px);
    width: 1010px;
    height: auto;
    padding: 0 0 40px;
    background-color: var(--offwhite-fundo);
}

.__containerDetails {
    font-size: 15px;
    font-weight: 500;

    min-height: 320px;
    max-width: 938px;
    min-width: 938px;
    height: auto;
    background-color: var(--offwhite-fundo);
    padding-top: 22px;

    box-shadow: none;
    border: solid 1px #ccc;
    
    background-color: var(--branco);
    margin-top: 20px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 30px;
}

#retornar {
    content: "";
    background-image: url(../img/barb_arrow2.webp);
    background-repeat: no-repeat;
    background-position-y: 3px;
    color: #09B88A;
    padding-left: 25px;

}

header h1 a {
    color: var(--azul-turquesa);
    margin-right: 25px;
}

body a {
    text-decoration: none;    
}

.__colunaum {
    display: flex;

}

.card.card-body {
    border: none;
}

.collapse .card.card-body {
    max-height: 80px;
    overflow: hidden;
}

.collapsing .card.card-body {
    max-height: auto;
}

.show .__mostrar-mais {
    display: none;
}

.__row-up{
        content: "";
    background-image: url(../img/Vector.webp);
    background-repeat: no-repeat;
    background-position-y: 3px;
    color: #09B88A;
    padding-left: 13px;
    padding-right: 5px;
    line-height: 20px;
    margin-left: 5px;

}

.__consulta {
    color: #7b7b7b;
    /* font-family: museo sans; */
    font-size: 15px;
}

.__expande {
    font-size: 15px;
    font-weight: 500;
}

.collapse:not(.show) {
    display: block;
}

.__mostra-mais-pai {
    margin-bottom: 5%;
}



.collapse + .__mostrar-mais {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    
    width: 100%;
    height: 40px;
    top: 40px;
}

.collapse.show + .__mostrar-mais {
    position: static;
    background: none;
    height: auto
}

.collapse + .__mostrar-mais #btnMostrarMais,
.collapsing + .__mostrar-mais #btnMostrarMais {
    position: absolute;
    bottom: -38px;
    padding-top:5px ;
}

.collapse.show + .__mostrar-mais #btnMostrarMais {
    position: relative;
    bottom: 0;
}

.collapse #descricaocard,
.collapsing #descricaocard{
    max-height: 80px;
}



.collapse.show #descricaocard {
    max-height: initial;
}

#btnMostrarMais {
    border: none;
    background: none;
    color: #4579fb;
    /* margin-left: 200px; */
    box-shadow: none;
    
    width: 100%;
}

.collapse.show + .__mostrar-mais a {
    padding-bottom: 0px;
}

.__mostrar-mais a {
    position: absolute;
    line-height: 20px;
    padding-bottom: 10px;
    bottom: 0;
}

.collapse.show .card.card-body,
.collapsing .card.card-body,
.collapse .card.card-body {
    padding: 0;
}

.__containerTimeLine ul {
    padding-left: 0;
}

.__formRow {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    overflow: hidden;
    display: flex;
}

.__leftColumnForm {
    position: relative;
    width: 204px;
    
}

.__rightColumnForm {
    margin-left: 107px;
    position: relative;
}

.__firstText {
    height: 84px;
    max-width: 599px;
    border: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    /* color: transparent; */
    /* background-image: linear-gradient(#000000, #ffffff); */
    background-clip: text;
    -webkit-background-clip: text;
}

#collapseExample {
    max-width: 599px;
}



.__requestDetails {
    position: relative;
    top: 22px;
    left: 14px;

}

#mais {
    display: none;
}

#encaminhamento {
    color: #4579fb
}

#botãoDescrição {
    padding-top: 20px;
    padding-bottom: 0px;
}

.__statusRow {
    position: relative;
    padding-top: 20px;
    display: flex;
    margin-left: -4px;
}


.collapse a {
    border: none;
    box-shadow: none;
}

.__status1 {
    height: 26px;
    width: 96px;
    color: #f41717;
    border: 1px solid #f41717;
    border-radius: 13px;
    float: left;
    position: relative;

}

.__status2 {
    height: 26px;
    width: 100px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    border-radius: 13px;
    margin-left: 10px;
    position: relative;
}

.__statusBtn {
    height: 72px;
    width: 96px;
    position: relative;
    padding-left: 14px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
    line-height: 25px
}

.__card-sit {
    background-color: var(--branco) !important;
    text-align: start;
    /* padding-left: 53%; */
    padding: 15px 0px 15px 53%;
    border-radius: 13px !important;
}

#etapaPassada {
    margin-left: 7px;
    color: #ffffff;
    border: 2px solid #02b0d6;
    border-radius: 50%;
}

.btn-success {
    background-color: #09b88a !important;
    border-color: #09b88a !important;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-success:hover {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.__timeLineEventBox {
    display: flex;
}

.__timeLineSolicitation {
    width: 938px;
    display: flex;
    margin-bottom: 40px;
}

.__timeLineEvent {
    padding-left: 14px;
    width: 938px;

}

.__timeLineDescription {
    color: #F5F5F5;
    margin-left: 14px;
    margin-bottom: 20px;
}

.__iconEStatus {
    display: flex;
}

.__containerTimeLine {
    width: 938px;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px
}

.__containerTimeLine ul {
    list-style: none;
    position: relative;

}

/* .__containerTimeLine ul:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 8;
    background: #02b0d6;
} */


.__containerTimeLine ul li {
    min-height: 40px;
    padding-bottom: 20px;
}

.__containerTimeLine ul li:last-child::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    bottom: 50px;
    left: 8;
    background: #02b0d6;
}


.__containerTimeLine ul li:nth-child(2):after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    left: 8;
    top: 5px;
    background: #02b0d6;
}


.__iconEStatus {
    position: relative;
    left: -9px;
}

.__timeLineStatus {
    margin-left: 4px;
}

.__timeLineStatus2 {
    margin-left: 12px;
    color: #7b7b7b;

}

.__circulo1 {
    border: 3px solid #02b0d6;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #02b0d6;
    margin-left: 2px;

}

.__circulo2 {
    border: 1px solid #02b0d6;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    margin-left: 2px;
    z-index: 100;
}
.__botao-sit {
    border-radius: 13px;
    font-size: 15px;
    text-align: start;
    font-weight: 500;
    min-height: 26px;
    line-height: 20px;
    margin-right: 10px;
}

/* @media (min-width: 780px) {
    .__botao-sit {
        border-radius: 13px;
        font-size: 15px;
        text-align: start;
        font-weight: 500;
        min-height: 26px;
        line-height: 20px;
        margin-right: 10px;
    }
} */


@media (max-width: 992px) {
    .__container {
        margin: 0px 15px 0px 2px;
        width: fit-content;
    }
}

@media (max-width: 780px) {
    .__main {
        background-color: var(--branco);
    }

    .__container {
        width: -webkit-fill-available;
        margin: 0px 15px 0px 15px;
        box-shadow: none;
        background-color: var(--branco);
    }


    .collapse {
        transition: background-color 0.25s;
        background-color: var(--offwhite-fundo) !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--azul-turquesa-variante) !important;
        color: var(--branco) !important;
    }

    .__card-sit:not(.collapsed) {
        background-color: var(--offwhite-fundo);
    }

    /* .__botao-sit {
        font-size: 12px;
    } */

}

@media screen and (min-width: 0px) and (max-width: 480px) and (orientation: portrait) {

    .__containerDetails {
        width: 100%;
        margin-top: 0;
        padding-top: 16px;
        padding-bottom: 40px;
        border-top: 0;
        min-width: 320px;
    }

    .__formRow {
        display: list-item;
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .__formRow-mostra{
        padding-bottom: 10px;
    }

    .__rightColumnForm {
        margin-left: 4px;
    }

    .__leftColumnForm {
        color:#7B7B7B;
        padding: 10px 0 5px;
    }

    .__colunaum {
        display: flex;
        flex-direction: column;
    }

    .__firstText {
        margin-right: 15px;
    }

    #btnMostrarMais {
        font-size: 15px;
        font-weight: 500;
        bottom: -25px;
    }

    /* #esconde {
        display: none;
    } */

    .__statusDiscription {
        margin-left: -4px;
    }

    .__timeline{
        background-color: #F5F5F5;
        padding: 5px;
    }

    .__containerTimeLine {
        width: calc(100% - 50px);
        margin-left: 10px;
        background-color: #F5F5F5;

    }

    /* .__containerTimeLine ul li {
        
    } */

}