@import url(base.css);

.invalido > span{
    background-color: red;
    color: var(--branco);
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
}

dt + dd {
    margin-left: 4px;
}

dl dd, dt + dd {
    margin-bottom: 20px;
}

dl:last-child {
    margin-bottom: 0;
}