@import url(../base.css);


tbody .accordion-flush .accordion-item .accordion-button,
.__card-corpo>a {
    display: none;
}


@media (max-width: 780px) {

    /* #cardI0 {
        grid-area: dso;
    } */

    .__card-corpo div:nth-child(2) {
        grid-area: nso;
    }

    .__card-corpo div:nth-child(2) a {
        line-height: 20px;
        height: 20px;
        color: #4579FB;
    }

    .__card-corpo div:nth-child(4) {
        grid-area: dso;
    }

    .__card-corpo div:nth-child(6) {
        
        display: none;
    }

    .__card-corpo div:nth-child(8) {
        grid-area: org;
    }

    .__card-corpo div:nth-child(10) {
        grid-area: uta;
    }

    .__card-corpo div:nth-child(12) {
        grid-area: sit;
        padding: 15px 4px 10px;
    }

    .__card-corpo div:nth-child(2),
    .__card-corpo div:nth-child(4),
    .__card-corpo div:nth-child(8),
    .__card-corpo div:nth-child(10) {
        padding-left: 4px;
    }

    .__card-corpo div:nth-child(4),
    .__card-corpo div:nth-child(10) {
        justify-self: start;
    }

    /* #cardI1 {
        grid-area: nso;
    }
    #cardI1 a {
        line-height: 20px;
        height: 20px;
        color: #4579FB;
    }

    #cardI2 {
        grid-area: dso;
    }

    #cardI4 {
        grid-area: org;
    }

    #cardI5 {
        grid-area: uta;
    }

    #cardI6 {
        grid-area: sit;
        padding: 15px 4px 10px;
    }

    #cardI1, 
    #cardI2, 
    #cardI4, 
    #cardI5 {
        padding-left: 4px;
    }

    #cardI3 {
        display: none;
    }

    #cardI2,
    #cardI5 {
        justify-self: start;
    } */

    .__card-corpo {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 20px 30px 20px 30px 20px 30px 20px 35px;
        grid-template-areas:
            "sit"
            "nsoT" /*20px*/
            "nso" /*30px*/
            "dsoT" /*20px*/
            "dso" /*30px*/
            "orgT" /*20px*/
            "org" /*30px*/
            "utaT" /*20px*/
            "uta"; /*35px*/
        align-items: start;
        border: none;
        font-size: 13px;
        line-height: 20px;
        justify-items: start;
        padding: 0px;
        row-gap: 5px;
    }

    tbody .accordion-flush .accordion-item .accordion-button {
        display: flex;
        padding-top: 29px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    tbody .accordion-button::after {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 6px;
        margin-right: 4px;
        /* background-color: #FFFFFF; */
    }

    .accordion-button:not(.collapsed)::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .__card-corpo>a {
        display: block;
        justify-self: end;
        font-size: 15px;
    }

}