@import url(../base.css);

main table {
    display: table;
    width: 938px;
    border-collapse: separate;
    border-spacing: 0 5px;
    
}

table thead {
    display: table-header-group;
}

thead tr {
    display: table-row;
    width: 938px;
    align-items: flex-start;
    background-color: var(--azul-turquesa-variante);
    border: solid 1px #ccc;
    border-radius: 4px;
    border-width: 1px;
    color: var(--branco);
    font-size: 13px;
    font-family: museo700;
    justify-items: flex-start;
    padding: 15px 14px; 
    margin-bottom: 5px;
}

thead tr th:first-child,
tbody tr td:first-child {
   padding-left: 14px;
   border-left: 1px solid #ccc;
   border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
thead tr th:last-child,
tbody tr td:last-child {
    padding-right: 14px;
    border-right: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
 }

 thead tr th,
 tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    
 }

 

tbody .accordion-flush .accordion-item .accordion-button,
.__card-corpo>a {
    display: none;
}

table tbody {
    display: table-row-group;
}

tbody tr {
    display: table-row;
    width: 938px;
    align-items: flex-start;
    background-color: var(--branco);
    border: solid 1px #ccc;
    border-radius: 4px;
    border-width: 1px;
    color: var(--cinza-escuro);
    font-size: 13px;
    font-family: museo;
    justify-items: flex-start;
    padding: 15px 14px; 
    margin-bottom: 5px;
    
}

.__card-corpo-desk {
    width: 938px;
    display: table-row;
    align-items: flex-start;
    background-color: var(--branco);
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    line-height: 20px;
    justify-items: flex-start;
    padding: 15px 14px;
}

#cardI1-desk {
    white-space: nowrap;
}

#cardT1 {
    min-width: calc(180px - 14px);
}

#cardI6-desk,
#cardT6 {
    align-self: flex-end;
    padding-left: 18px;
}

#cardT5 {
    width: 1px;
    /* white-space: nowrap; */
    /* word-break: break-all; */
}

#cardI5-desk {
    text-align: end; 
}

/*título*/


#cardT1::after,
#cardT2::after,
#cardT3::after,
#cardT4::after,
#cardT5::after,
#cardT6::after {
    background: url(../../img/caret-down-fill2.webp) no-repeat;
    content: "";
    display: inline-block;
    flex-grow: 0;
    height: 13px;
    margin-left: 5px;
    position: absolute;
    /* top: 20px; */
    width: 13px;
}

#cardT1:hover::after,
#cardT2:hover::after,
#cardT3:hover::after,
#cardT4:hover::after,
#cardT5:hover::after,
#cardT6:hover::after {
    transition: .5s;
    transform: rotate(-180deg);
}


#cardT1:not(:hover)::after,
#cardT2:not(:hover)::after,
#cardT3:not(:hover)::after,
#cardT4:not(:hover)::after,
#cardT5:not(:hover)::after,
#cardT6:not(:hover)::after {
    transition: .5s;

}

#cardT1.nselected::after,
#cardT2.nselected::after,
#cardT3.nselected::after,
#cardT4.nselected::after,
#cardT5.nselected::after,
#cardT6.nselected::after {
    content: none;
}

#cardT1.nselected:hover::after,
#cardT2.nselected:hover::after,
#cardT3.nselected:hover::after,
#cardT4.nselected:hover::after,
#cardT5.nselected:hover::after,
#cardT6.nselected:hover::after,
#cardT1.nrotate:hover::after,
#cardT2.nrotate:hover::after,
#cardT3.nrotate:hover::after,
#cardT4.nrotate:hover::after,
#cardT5.nrotate:hover::after,
#cardT6.nrotate:hover::after{
    content: "";
    transform: rotate(-0deg);
    transition: .5s;
}

#cardT1.nrotate::after,
#cardT2.nrotate::after,
#cardT3.nrotate::after,
#cardT4.nrotate::after,
#cardT5.nrotate::after,
#cardT6.nrotate::after {
    transform: rotate(-180deg);
}


@media (max-width: 780px) {

    tbody .__card-corpo-desk {
        display: none;
    }

    thead tr {
        display: none;

    }
    #cardTi3,
    #cardTi6 {
        display: none;
    }
    #cardTi1,
    #cardTi2,
    #cardTi4,
    #cardTi5 {
        color: #7B7B7B;
    }
    



    .__card-corpo {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 20px 30px 20px 30px 20px 30px 20px 35px;
        grid-template-areas:
            "sit"
            "nsoT" /*20px*/
            "nso" /*30px*/
            "dsoT" /*20px*/
            "dso" /*30px*/
            "orgT" /*20px*/
            "org" /*30px*/
            "utaT" /*20px*/
            "uta"; /*35px*/
        align-items: start;
        border: none;
        font-size: 13px;
        line-height: 20px;
        justify-items: start;
        padding: 0px;
        row-gap: 5px;
    }

    tbody .accordion-flush .accordion-item .accordion-button {
        display: flex;
        padding-top: 29px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    tbody .accordion-button::after {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 6px;
        margin-right: 4px;
        /* background-color: #FFFFFF; */
    }

    .accordion-button:not(.collapsed)::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .__card-corpo>a {
        display: block;
        justify-self: end;
        font-size: 15px;
    }

    #cardI1 a {
        line-height: 20px;
        height: 20px;
        color: #4579FB;
    }
    #cardI6 {
        padding: 15px 4px 10px;
    }

    #cardI1, 
    #cardI2, 
    #cardI4, 
    #cardI5 {
        padding-left: 4px;
    }

    #cardI3 {
        display: none;
    }

    #cardI2,
    #cardI5 {
        justify-self: start;
    }
}